<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>EasyMatch</title>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">EasyMatch</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <% if !user_signed_in? %>
                                    <li class="active"><%= link_to "Sign Up !", new_user_registration_path %></li>
                                    <li><%= link_to "Sign in", new_user_session_path %></li>
                                <% else %>
                                    <li class="active"><%= link_to "My Account", games_path %></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Contact</a></li>
                                <% end %>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">EasyMatch</h1>
                <p class="lead">Sport up by finding instantly other teammates with EasyMatch app !</p>
                <p class="lead">
                    <%= link_to "Learn more", new_user_registration_path, class: "btn btn-lg btn-default" %>
                <% if !user_signed_in? %>
                    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-success" %>
                <% else %>
                    <%= link_to "Welcome back #{current_user.username} !", games_path, class: "btn btn-lg btn-success" %>
                <% end %>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
