<%= simple_form_for(@game, html: { class: 'form-horizontal' }) do |f| %>

<%= f.input :address %>
<%= f.input :country %>
<%= f.input :date, as: :date_picker, input_html: { data: { date_options: { minDate: Date.today }}} %>
<%= f.input :time, as: :time_picker, input_html: { data: { date_options: { minTime: Time.now }}} %>
<%= f.input :sport, collection: Game::SPORTS, as: :radio_buttons %>
<%= f.input :description %>

<%= f.button :submit, "Submit" %>
<% end %>
