<%- model_class = Game -%>
<td><%= game.owner.username %></td>
<td><%= game.location %></td>
<td><%= l game.date, format: :short %></td>
<td><%= l game.time, format: :short %></td>
<td><%= game.sport %></td>
<td><%= game.participants.count %></td>