<%- model_class = Game -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="hidden-xs">
  <div class="form-actions" style="padding-bottom:10px;">
    <%= link_to "Hide Map", "#", class: "btn btn-success btn-sm", id: "hide-button" %>
  </div>
  <div id="map-toggle" style='width: 100%; height: 400px;'></div>
    
  <div id="game-info"></div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:owner) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:sport) %></th>
      <th><%= model_class.human_attribute_name(:participants) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr data-id='<%= game.id %>' class='game-selector'>
        <%= render game %>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      game_path(game), :class => 'btn btn-default btn-xs' %>
          <% if can? :update, game %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_game_path(game), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <% if can? :delete, game %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      game_path(game),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= paginate @games %>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map-toggle'}}, function(){
    markers = handler.addMarkers(<%=raw @markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>