<%- model_class = Game -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div id="map-toggle" style='width: 100%; height: 400px;'></div>

<%= render @game %>

<% if @game.participants.include? current_user %>
<%= link_to "Leave",
              leave_game_path, :class => 'btn btn-default'  %>
<% else %>
<%= link_to "Join",
              join_game_path, :class => 'btn btn-default'  %>
<% end %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              games_path, :class => 'btn btn-default'  %>
<% if can? :update, @game %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_game_path(@game), :class => 'btn btn-default' %>
<% end %>
<% if can? :delete, @game %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            game_path(@game),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
<% end %>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map-toggle'}}, function(){
  markers = handler.addMarkers(<%=raw @marker.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  });
</script>