<%= simple_form_for @preference, :html => { :class => 'form-horizontal' } do |f| %>
  
  <%= f.input :name %>
  <%= error_span(@preference[:name]) %>

  <%= f.input :address %>
  <%= error_span(@preference[:address]) %>

  <%= f.input :country %>
  <%= error_span(@preference[:country]) %>

  <%= f.input :dist_max %>
  <%= error_span(@preference[:dist_max]) %>

  <%= f.input :games_max %>
  <%= error_span(@preference[:games_max]) %>

  <%= f.input :days_max %>
  <%= error_span(@preference[:days_max]) %>

  <%= f.input :time_min, as: :time_picker %>
  <%= error_span(@preference[:time_min]) %>

  <%= f.input :time_max, as: :time_picker %>
  <%= error_span(@preference[:time_max]) %>
  
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                preferences_path, :class => 'btn btn-default' %>
<% end %>
