<%- model_class = Preference -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<h2>Current preference : <%= @curr_pref.try(:name) %> </h2>

<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= model_class.human_attribute_name(:dist_max) %></th>
      <th><%= model_class.human_attribute_name(:games_max) %></th>
      <th><%= model_class.human_attribute_name(:days_max) %></th>
      <th><%= model_class.human_attribute_name(:time_min) %></th>
      <th><%= model_class.human_attribute_name(:time_max) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody class="pref-table">
    <% @preferences.each do |preference| %>
      <tr data-id='<%= preference.id %>' class="pref-selector">
        <td><%= preference.name %></td>
        <td><%= preference.address %></td>
        <td><%= ::ISO3166::Country[preference.country].name %></td>
        <td><%= preference.dist_max %></td>
        <td><%= preference.games_max %></td>
        <td><%= preference.days_max %></td>
        <td><%= preference.time_min %></td>
        <td><%= preference.time_max %></td>
        <td><%= preference.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_preference_path(preference), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      preference_path(preference),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_preference_path,
            :class => 'btn btn-primary' %>
