<%- model_class = Preference -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @preference.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @preference.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dist_max) %>:</strong></dt>
  <dd><%= @preference.dist_max %></dd>
  <dt><strong><%= model_class.human_attribute_name(:games_max) %>:</strong></dt>
  <dd><%= @preference.games_max %></dd>
  <dt><strong><%= model_class.human_attribute_name(:days_max) %>:</strong></dt>
  <dd><%= @preference.days_max %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_min) %>:</strong></dt>
  <dd><%= @preference.time_min %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_max) %>:</strong></dt>
  <dd><%= @preference.time_max %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              preferences_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_preference_path(@preference), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              preference_path(@preference),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
