// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-selector:hover {
	background-color: #A7D7FA !IMPORTANT;
}
div.hidden {
	display: none;
}

.btn-success {
	text-color: #ffffff !IMPORTANT;
}